<!--js -->
<script src ="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src ="/javascripts/files.js"></script>
  <footer>
    <div class="legal">
        &copy; 2016 | <%= business.name%>
    </div>
    <div>
      <ul class="nav__list">
        <li class ="social_links"><a href = "<%= business.fb%>" target="blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true" ></i></a></li>
        <li class ="social_links"><a href = "<%= business.tw%>" target ="blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true" ></i></a></li>
      </ul>
    </div>
</footer>
</body>
</html>
