<% include partials/header.ejs %>
<main>
		<div>
			<div class="info">
				<table class="table-condensed">
					<tr><td>First Name:</td><td><%=user.firstname %></td></tr>
					<tr><td>Phone:</td><td><%=user.phone %></td></tr>
					<tr><td>Last Name:</td><td><%=user.lastname %></td></tr>
					<tr><td>email:</td><td><%=user.email %></td></tr>
				</table>
			</div>
			<div class="files">
			<input type="file" name="fine-uploader"/></div>
		</div>
</main>
<% include partials/footer.ejs %>
