<% include partials/header.ejs %>
<main ng-app="dataEntry" ng-controller="perInfo">
  <p><%= message%></p>
  <h1><%= title%></h1>
      <form class="col-md-6" action="/register" method="post" id="registerForm">
        <fieldset class="form-group">
          <legend> Personal Information </legend>
           <label for="fullname" class="col-md-4 modalLabel" >Full Name</label>
           <input name="fullname" id ="fullname" placeholder="Enter full name name here" class="form-control" title="Enter full name here" required/>
           <!-- <input name ="firstname" value="{{ firstname }}" />
           <input name ="lastname" value="{{ lastname }}" /> -->
        </fieldset>
        <fieldset class="form-group">
          <legend>Contact Information </legend>
            <label for="phone" class="col-md-4 modalLabel">Phone</label>
            <input id ="phone" name ="phone" placeholder="000-000-0000" class="form-control modalInput" ng-model="phone" title="Enter phone number here" type="tel" required/>
            <label for="email" class="col-md-4 modalLabel">Email</label>
            <input id ="email" name ="email"type="email" placeholder="aaa@aaa.com"class="form-control modalInput" ng-model="email"title="Enter email here" required/>
            <label for="address" class="col-md-4 modalLabel">Address</label>
            <% include ./partials/address.ejs %>
        </fieldset>
            <% if(user){%>
                <input type="hidden" name="id" value="<%= id%>"/>
              <fieldset class="formButtons">
                <input type="button" class="btn btn-danger" value="Reset"/>
                <input type="submit" class="btn btn-success col-sm-2" value = "Save"/>
              </fieldset>
            <%} else{%>
              <fieldset class="form-group">
                <legend>Account Information </legend>
                <label for="username" class="col-md-4 modalLabel">Username: </label>
                <input name="username" class="form-control" style="color: black;" id="username" required autocomplete="off"/>

                <label for="password" class="col-md-4 modalLabel">Password: </label>
                <input name="password" class="form-control" style="color: black;" id="password" type="password" required  />
              </fieldset>
              <div class="form-group">
                <input type="submit" class="btn btn-success col-sm-offset-2" value = "Register"/>
                <hr>Already have an account?  <a href="/login" title="Login">Click here to Login</a>
              </div>
            <%}%>
      </form>
      <script src="/javascripts/googleAddress.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb0RUvcqrU7YHVaSAAkq4D_ITSSS9-sVE&libraries=places&callback=initAutocomplete" async defer></script>
</main>
<% include partials/footer.ejs %>
